<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="assets/images/logo.svg" alt="logo">
            </div>
            <h4>Hello! Let's get started</h4>
            <h6 class="fw-light">Sign in to continue.</h6>

            <form class="row g-3" [formGroup]="login_form" (ngSubmit)="login()">
              <div class="form-group col-12">
                <label for="inputEmailAddress" class="form-label">Email Address</label>
                <input type="email" class="form-control form-control-lg" formControlName="email" required placeholder="Email Address">
                <span class="text-danger">
                  @if(!login_form.get('email')?.valid && login_form.get('email')?.touched) {
                    {{input_error_message}} Email
                  }
                </span>
              </div>
              <div class="col-12 mt-2">
                <label for="inputChoosePassword" class="form-label">Enter Password</label>
                <div class="input-group" id="show_hide_password">
                  <input type="password" class="form-control form-control-lg" formControlName="password" placeholder="Enter Password">
                </div>
                <!-- <span class="text-danger">
                  @if(!login_form.get('password')?.valid && login_form.get('password')?.touched) {
                    {{input_error_message}} Password
                  }
                </span> -->
              </div>
              <div class="col-md-6 mt-2">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label>
                </div>
              </div>
              <div class="col-md-6 mt-2" style="text-align: right;">
                <a href="#" class="login-link">Forgot Password ?</a>
              </div>
              <div class="col-12 mt-4">
                <div class="d-lg-flex justify-content-between">
                  <button class="btn btn-primary">
                    Sign in
                  </button>
                </div>
              </div>
            </form>

            <!-- <div>
              <p class="title">Sign In</p>
              <form [formGroup]="login_form" (ngSubmit)="login()">
                  <input type="email" name="email" formControlName="email">
                  <br>
                  <input type="password" name="password" formControlName="password">
                  <br>
                  <button type="submit">Sign In</button>
              </form>
            </div> -->
          </div>
          <a href="/users">users</a>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>