<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Users</h4>
      <button class="create-button btn-success">Create New User</button>

      <p class="card-description">
        <!-- Add class <code>.table</code> -->
      </p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Contact</th>
              <th>Gender</th>
              <th>Role</th>
              <th>Status</th>
              <th>CreatedAt</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (user_information of user_informations; track $index) {
              <tr>
                <td>{{ user_information.id }}</td>
                <td>{{ user_information.first_name }} {{ user_information.last_name }}</td>
                <td>{{ user_information.user.email }}</td>
                <td>{{ user_information.contact }}</td>
                <td>{{ user_information.gender }}</td>
                <td>{{ user_information.user.role_id }}</td>
                <td>
                  <span class="badge {{checkStatus(user_information.user.status)}} rounded-pill">{{user_information.user.status}}</span>
                </td>
                <td>{{ user_information.user.createdAt | dateFormat }}</td>
                <td>
                  <button class="btn btn-primary btn-sm" (click)="updateUser">Edit</button>&nbsp;
                  <button class="btn btn-sm {{user_information.user.deletedAt ? 'btn-success' : 'btn-danger'}}" (click)="deleteUser(user_information)">
                    {{user_information.user.deletedAt ? "Undo" : "Delete"}}
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




