<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item nav-category">Orders</li>

    <li class="nav-item">
      <a class="nav-link" href="/authorizations">
        <i class="menu-icon mdi mdi-card-text-outline"></i>
        <span class="menu-title">Authentication</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/roles" routerLinkActive="active">
        <i class="mdi mdi-cube-outline menu-icon"></i>
        <span class="menu-title">Roles</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="users" routerLinkActive="active">
        <i class="menu-icon mdi mdi mdi-face"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="/plans" routerLinkActive="active">
        <i class="menu-icon mdi mdi mdi-face"></i>
        <span class="menu-title">Plans</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="/subscriptions">
        <i class="menu-icon mdi mdi-email-outline"></i>
        <span class="menu-title">Subscription</span>
      </a>
    </li>

    <li class="nav-item nav-category">help</li>

    <li class="nav-item">
      <a class="nav-link" href="/login">
        <i class="menu-icon mdi mdi-power"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
  </ul>
</nav>